.mainContainer {
  margin-bottom: 40px;
  width: 96vw;
  max-width: 1000px;
  height: 600px;
  max-height: 600px;
}

.buttonsContainer {
  margin-top: -20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button {
  margin: 20px 10px 0;
  padding: 0 10px;
  display: inline-block;
  min-width: 100px;
  height: 40px;
  color: #d0fc7e;
  background-color: transparent;
  border: 1px solid #d0fc7e;
  cursor: pointer;

  &:hover {
    color: #111010;
    background-color: #d0fc7e;
  }
}

.customLine {
  margin-top: 10px;
  margin-bottom: 10px;
}

@keyframes blink {
  25% {
    color: #a2a2ca;
  }

  50% {
    color: #e9b97b;
  }

  75% {
    color: #e97bb2;
  }

  100% {
    color: #d0fc7e;
  }
}

.customWord {
  animation: blink 4s steps(1) infinite;
}
